In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("accidents.csv")

In [2]:
df.head(2)

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2022,202201,NaN,16.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2022,202202,NaN,14.0,NaN,NaN,NaN

In [11]:
df2 = df.iloc[:, 0:5]

In [12]:
df2

           MONATSZAHL             AUSPRAEGUNG  JAHR   MONAT   WERT
0      Alkoholunfälle               insgesamt  2022  202201    NaN
1      Alkoholunfälle               insgesamt  2022  202202    NaN
2      Alkoholunfälle               insgesamt  2022  202203    NaN
3      Alkoholunfälle               insgesamt  2022  202204    NaN
4      Alkoholunfälle               insgesamt  2022  202205    NaN
...               ...                     ...   ...     ...    ...
2081  Verkehrsunfälle  Verletzte und Getötete  2000  200008  647.0
2082  Verkehrsunfälle  Verletzte und Getötete  2000  200009  675.0
2083  Verkehrsunfälle  Verletzte und Getötete  2000  200010  615.0
2084  Verkehrsunfälle  Verletzte und Getötete  2000  200011  578.0
2085  Verkehrsunfälle  Verletzte und Getötete  2000  200012  515.0

[2086 rows x 5 columns]

In [13]:
df3 = df2[df2['JAHR']< 2021]

In [14]:
df3

           MONATSZAHL             AUSPRAEGUNG  JAHR   MONAT   WERT
25     Alkoholunfälle               insgesamt  2020   Summe  430.0
26     Alkoholunfälle               insgesamt  2020  202001   28.0
27     Alkoholunfälle               insgesamt  2020  202002   40.0
28     Alkoholunfälle               insgesamt  2020  202003   27.0
29     Alkoholunfälle               insgesamt  2020  202004   26.0
...               ...                     ...   ...     ...    ...
2081  Verkehrsunfälle  Verletzte und Getötete  2000  200008  647.0
2082  Verkehrsunfälle  Verletzte und Getötete  2000  200009  675.0
2083  Verkehrsunfälle  Verletzte und Getötete  2000  200010  615.0
2084  Verkehrsunfälle  Verletzte und Getötete  2000  200011  578.0
2085  Verkehrsunfälle  Verletzte und Getötete  2000  200012  515.0

[1911 rows x 5 columns]

In [18]:
df4= df3[df3['MONATSZAHL']== 'Alkoholunfälle']
df4

         MONATSZAHL             AUSPRAEGUNG  JAHR   MONAT   WERT
25   Alkoholunfälle               insgesamt  2020   Summe  430.0
26   Alkoholunfälle               insgesamt  2020  202001   28.0
27   Alkoholunfälle               insgesamt  2020  202002   40.0
28   Alkoholunfälle               insgesamt  2020  202003   27.0
29   Alkoholunfälle               insgesamt  2020  202004   26.0
..              ...                     ...   ...     ...    ...
591  Alkoholunfälle  Verletzte und Getötete  2000  200008   32.0
592  Alkoholunfälle  Verletzte und Getötete  2000  200009   45.0
593  Alkoholunfälle  Verletzte und Getötete  2000  200010   31.0
594  Alkoholunfälle  Verletzte und Getötete  2000  200011   24.0
595  Alkoholunfälle  Verletzte und Getötete  2000  200012   31.0

[546 rows x 5 columns]

In [26]:
df4.to_csv('accidents_cleaned.csv')